rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{userId} {
      allow create: if isOwner(userId);
      allow read: if isOwner(userId) || isAdmin();
      allow update, delete: if isOwner(userId);
    }

    match /carts/{userId}/items/{itemId} {
      allow read: if isOwner(userId);

      allow create, update: if isOwner(userId)
        && (
          !('id' in request.resource.data) ||
          request.resource.data.id == itemId
        );

      allow delete: if isOwner(userId);
    }

    match /orders/{userId}/items/{orderId} {
      allow create: if isOwner(userId)
        && request.resource.data.userId == userId;

      allow read: if isOwner(userId) || isAdmin();

      allow update: if isAdmin();

      allow delete: if isOwner(userId) || isAdmin();
    }

    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
